.checkout-page {
    display: flex;
    flex-direction: column;
    background-color: #4E4848;
    width: 100%;
    height: 100%;
    align-items: center;
    overflow-y: scroll;
}
#CartText{
}
.purchased-cards {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 1em;
    max-width: 15em;
    color: whitesmoke;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card span {
    margin-right: 10px;
}

.card button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.card button:hover {
    background-color: #ccc;
}

.payment-box {
    width: 20em;
    height: 20em;
    margin-top: 2em;
    margin-left: 1em;
    /* Payment box styles go here */
}