.Main2 {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    scroll-behavior: revert;
    background-color: #4E4848;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.LoginHolder {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3em;
}

.InputField {
    width: 15em;
    height: 2.7em;
    margin-bottom: 1em;
    border-color: lightgrey;
    border-style: solid;
    border-radius: .7em;
    background-color: transparent;
    color: whitesmoke;
    outline: none;
    align-self: center;
    align-self: center;
}
.Button{
    height: 2.7em;
    width: 16em;
    align-self: center;
    background-color: #6C4B9D;
    outline: none;
    border-radius: 1.4em;
    border-style: none;
    color: whitesmoke;
    margin-bottom: .5em;
}
.Button:hover{
    background-color: #5f3e90;
}
.SwitchPage{
    color: whitesmoke;
    align-self: center;
    font-size: .75em;
    text-decoration: underline;
}
#holdPng{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
#logoPng{
    width: 12em;
    height: auto;
}
#everything{
    margin-bottom: 10em;
}
.eventText{
    color: whitesmoke;
    font-size: .8em;
    text-align: center;
    margin: .75em;
}
.titleText{
    color: whitesmoke;
    font-size: 2.7em;
    text-align: center;
    margin: .75em;
}
.subtitleText{
    color: whitesmoke;
    font-size: 1.8em;
    text-align: center;
    margin: .75em;
}
