#total {
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}

#paymentMain {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: fit-content;
    margin-bottom: 2em;
    justify-content: center;
}
#card-element {
    padding: 10px;
    border-radius: 5px;
}

.StripeElement {
    height: 40px;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 1.2em;
    font-size: 1em;
    line-height: 1.5;
    border: 1px solid #ccc;
    color: whitesmoke;
    border-radius: 5px;

}
.card-element .StripeElement:nth-child(1) {
    margin-right: 100px;
}
.StripeElement--focus {
    border-color: #5f3e90;

}

.StripeElement--invalid {
    border-color: #dc3545;
    box-shadow: none;
}

.form-group2 {

    width: 100%;
    color: whitesmoke;
    margin-top: .75em;
    margin-bottom: .75em;
    display: flex;
    align-items: center;

    justify-content: center;
}
.paymentAddition{
    border-radius: 1em;
    outline-style: none;
    border-style: hidden;
    height: 3.75em;
    width: 93%;
    background-color: gray;
    color: whitesmoke;
}

.paymentAddition::placeholder {
    color: #CCCCCC;
}
.separator {
    height: .06em;
    width: 90%;
    background-color: #777777;
    margin-top: .75em;
    margin-bottom: .75em;
    align-self: center;
    justify-self: center;
}

.paymentText {
    color: whitesmoke;
}

#finalPaymentButton {
    width: 12.5em;
    height: 2.5em;
    background-color: #5f3e90;
    outline-style: hidden;
    border-style: hidden;
    border-radius: .5em;
    align-self: center;
    color: whitesmoke;
    margin-top: 1em;
}