.Main3{
    height: 100%;
    width: 100%;
    background-color: #4E4848;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

}
.SideBar{
    width: 20em;
    background-color: #393939;
    display: flex;
    flex-direction: column;
}
/*.stickRight{
    position: relative;
    margin-left: auto;
    width: 8em;
    justify-content: center;
    margin-bottom: 1em;

}*/
.stickRight {
    margin-left: auto;
    margin-right: 2em;
    position: relative;
}

.badge {
    position: absolute;
    top: 1.4em;
    right: 2em;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7em;
}
.Search{
    width: 90%;
    height: 2em;
    margin-top: 1em;
    align-self: center;
    background-color: gray;
    border-style: none;
    border-radius: .9em;
    color: whitesmoke;
    outline: none;
    text-indent: 1em;
    margin-bottom: 1.2em;
}

.Search::placeholder {
    color: whitesmoke;
    font-style: italic;
}

#holdPng{
    display: flex;
    justify-content: center;
    align-items: center;
}
#seatingPng{
    width: 100%;
    max-width: 100%;
}
.Map{
    width: 10em;
    height: 10em;
}

#cartPng{
    max-height: 2em;
    margin-top: 1em;
}
.eventText{
    color: whitesmoke;
    font-size: .8em;
    text-align: center;
    margin: .75em;
}